In [2]:
import pandas as pd

In [18]:
df = pd.read_csv(r'suicide_data/Cause-wise Distribution_educational_status_2021.csv', index_col = 0)
df

,State/UT,No Education - Male,No Education - Female,No Education - Transgender,No Education - Total,Primary (up to class - 5th) - Male,Primary (up to class - 5th) - Female,Primary (up to class - 5th) - Transgender,Primary (up to class - 5th) - Total,Middle (up to class - 8th) - Male,...,Professionals (MBA etc.) - Transgender,Professionals (MBA etc.) - Total,Status Not known - Male,Status Not known - Female,Status Not known - Transgender,Status Not known - Total,Total - Male,Total - Female,Total - Transgender,Total - Total
Category,,,,,,,,,,,,,,,,,,,,,
State,Andhra Pradesh,984,380,0,1364,1031,397,0,1428,1052,...,0,23,210,20,0,230,6046,2021,0,8067
State,Arunachal Pradesh,18,6,0,24,16,11,0,27,9,...,0,0,29,10,0,39,111,49,0,160
State,Assam,326,180,0,506,374,169,0,543,495,...,0,1,0,0,0,0,2351,911,0,3262
State,Bihar,51,37,0,88,49,27,0,76,73,...,0,18,2,4,0,6,470,357,0,827
State,Chhattisgarh,663,378,0,1041,1188,562,0,1750,1416,...,0,8,646,234,0,880,5625,2203,0,7828
State,Goa,16,9,0,25,23,9,0,32,46,...,0,1,6,0,0,6,249,72,0,321
State,Gujarat,579,337,0,916,1078,606,1,1685,1444,...,0,4,125,18,0,143,6199,2589,1,8789
State,Haryana,463,153,0,616,379,130,0,509,537,...,0,5,445,114,0,559,2870,822,0,3692
State,Himachal Pradesh,34,25,0,59,40,26,0,66,112,...,0,1,12,1,0,13,614,275,0,889
State,Jharkhand,94,50,0,144,117,40,0,157,126,...,0,0,10,2,0,12,1358,467,0,1825
State,Karnataka,1014,402,0,1416,1610,548,0,2158,2210,...,0,58,238,53,0,291,9927,3126,3,13056
State,Kerala,107,43,0,150,817,263,0,1080,1414,...,0,26,48,8,0,56,7487,2056,6,9549
State,Madhya Pradesh,1590,878,0,2468,2013,1084,0,3097,2280,...,0,1,191,74,0,265,10203,4762,0,14965
State,Maharashtra,969,358,1,1328,2660,679,0,3339,3393,...,0,20,184,52,1,237,17489,4715,3,22207
State,Manipur,1,0,0,1,0,1,0,1,13,...,0,0,0,0,0,0,38,11,0,49
State,Meghalaya,44,8,0,52,34,7,0,41,46,...,0,2,0,0,0,0,172,54,0,226
State,Mizoram,2,0,0,2,17,2,0,19,41,...,0,0,0,0,0,0,90,9,0,99
State,Nagaland,0,0,0,0,7,3,0,10,8,...,0,0,0,0,0,0,37,6,0,43
State,Odisha,57,35,0,92,119,53,0,172,148,...,0,4,3672,960,0,4632,4412,1239,0,5651
State,Punjab,331,76,0,407,232,59,0,291,329,...,0,23,65,6,0,71,2025,575,0,2600
State,Rajasthan,615,308,0,923,772,318,0,1090,674,...,0,26,44,13,0,57,4057,1536,0,5593
State,Sikkim,32,12,0,44,78,20,0,98,38,...,0,0,5,0,0,5,200,66,0,266
State,Tamil Nadu,1094,650,0,1744,1861,730,1,2592,3032,...,0,232,41,13,0,54,13190,5725,10,18925
State,Telangana,1908,642,0,2550,1322,378,0,1700,1218,...,0,66,235,15,0,250,7963,2206,2,10171
State,Tripura,5,5,0,10,132,56,0,188,194,...,0,0,0,0,0,0,543,228,0,771
State,Uttar Pradesh,524,412,0,936,595,400,0,995,684,...,0,0,125,213,0,338,3549,2383,0,5932
State,Uttarakhand,15,12,0,27,8,8,0,16,124,...,0,0,15,10,0,25,463,254,0,717
State,West Bengal,531,305,0,836,1536,889,0,2425,1404,...,0,0,2564,1611,1,4176,8290,5209,1,13500
State,Total (States),12067,5701,1,17769,18108,7475,2,25585,22560,...,0,519,8912,3431,2,12345,116028,43926,26,159980
UT,Andaman and Nicobar Islands,19,3,0,22,23,7,0,30,25,...,0,0,26,6,0,32,122,37,0,159
UT,Chandigarh,0,0,0,0,8,4,0,12,16,...,0,0,15,14,0,29,84,36,0,120
UT,Dadra and Nagar Haveli and Daman and Diu,16,1,0,17,14,7,0,21,29,...,0,0,0,0,0,0,127,44,0,171
UT,Delhi,97,41,0,138,115,44,1,160,224,...,0,15,213,75,0,288,2093,746,1,2840
UT,Jammu and Kashmir,20,23,0,43,14,6,0,20,25,...,0,3,22,5,0,27,144,103,0,247
UT,Ladakh,0,0,0,0,1,0,0,1,2,...,0,0,4,0,0,4,10,1,0,11
UT,Lakshadweep,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
UT,Puducherry,23,5,1,29,40,9,0,49,17,...,0,0,32,13,0,45,370,133,1,504
UT,Total (UTs),175,73,1,249,215,77,1,293,338,...,0,18,312,113,0,425,2951,1100,2,4053
Total (All India),Total (All India),12242,5774,2,18018,18323,7552,3,25878,22898,...,0,537,9224,3544,2,12770,118979,45026,28,164033

In [21]:
df['State/UT'].str.count('a')
df['State/UT'].str.find('a')
df['State/UT'].str.get_dummies()
df['State/UT'].str.get(-1)
df['State/UT'].str.join('+')
df['State/UT'].str.lower()
df['State/UT'].str.count('a')
#df['State/UT'].str.repeat([3,4,2,4,2,4,2,2,5,7,3,3,5,2,3,5,4,5,6,7])
df['State/UT'].str.replace('a','k',case=False)
df['State/UT'].str.upper()
df['State/UT'].str.split().str.get(0)

Category
State                      Andhra
State                   Arunachal
State                       Assam
State                       Bihar
State                Chhattisgarh
State                         Goa
State                     Gujarat
State                     Haryana
State                    Himachal
State                   Jharkhand
State                   Karnataka
State                      Kerala
State                      Madhya
State                 Maharashtra
State                     Manipur
State                   Meghalaya
State                     Mizoram
State                    Nagaland
State                      Odisha
State                      Punjab
State                   Rajasthan
State                      Sikkim
State                       Tamil
State                   Telangana
State                     Tripura
State                       Uttar
State                 Uttarakhand
State                        West
State                       Total
UT                        Andaman
UT                     Chandigarh
UT                          Dadra
UT                          Delhi
UT                          Jammu
UT                         Ladakh
UT                    Lakshadweep
UT                     Puducherry
UT                          Total
Total (All India)           Total
Name: State/UT, dtype: object

In [ ]:
df1 = pd.DataFrame({'name':['John','Victor','Michael','Virginia','Mike'], 'Id':[3,4]})

In [ ]:
df2 = pd.DataFrame({'domain':['IT',]})