In [ ]:
###  Pandas Features ###
########################
# 1. String Functions
# 2. Merging/Joining
# 3. Missing Data
# 4. Statistical
# 5. Data iteration
# 6. Data Grouping
# 7. Aggregation
# 8. Sorting

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r'suicide_data/suicide_data.csv', index_col = 0)
df.head()

,State/UT,By Consuming Sleeping Pills - Total,By Drowning - Transgender,By Fire/Self Immolation - Female,By Firearms - Male,By Firearms - Total,By Hanging - Transgender,By Poison (Total) - Female,By Poison (By Consuming Insecticides) - Male,By Poison (By Consuming Insecticides) - Total,...,Jumping (Total) - Total,Jumping (from Building) - Transgender,Jumping (from Other Sites) - Female,Jumping (by Jumping off Moving Trains/Vehicles) - Male,Jumping (by Jumping off Moving Trains/Vehicles) - Total,By Coming under Running Vehicles/Trains - Transgender,By Touching Electric Wire - Female,By Other Means - Male,By Other Means - Total,Total - Transgender
0,Andhra Pradesh,44,0,47,3,4,0,894,1944,2449,...,55,0,0,2,2,0,1,37,47,0
1,Arunachal Pradesh,0,0,0,2,2,0,0,1,1,...,0,0,0,0,0,0,0,35,41,0
2,Assam,8,0,10,1,1,0,99,229,319,...,64,0,0,45,63,0,9,1,1,0
3,Bihar,55,0,9,6,21,0,67,83,147,...,10,0,0,0,0,0,0,0,0,0
4,Chhattisgarh,0,0,270,6,6,0,640,595,931,...,93,0,4,56,68,0,4,286,355,0

In [6]:
df['State/UT'].str.count('a')#returns count of letter a
df['State/UT'].str.contains('a')
df['State/UT'].str.find('a') # find the position first occurence of the letter 
df['State/UT'].str.get_dummies() # create unique dataframe for all values of state/UT column
df['State/UT'].str.get(-1)
df['State/UT'].str.join('+')
df['State/UT'].str.lower()
df['State/UT'].str.count('a')
#df['State/UT'].str.repeat([3,4,2,4,2,4,2,2,5,7,3,3,5,2,3,5,4,5,6,7])
df['State/UT'].str.replace('a','k',case=False)
df['State/UT'].str.upper()
df['State/UT'].str.split().str.get(0)

0           Andhra
1        Arunachal
2            Assam
3            Bihar
4     Chhattisgarh
5              Goa
6          Gujarat
7          Haryana
8         Himachal
9        Jharkhand
10       Karnataka
11          Kerala
12          Madhya
13     Maharashtra
14         Manipur
15       Meghalaya
16         Mizoram
17        Nagaland
18          Odisha
19          Punjab
20       Rajasthan
21          Sikkim
22           Tamil
23       Telangana
24         Tripura
25           Uttar
26     Uttarakhand
27            West
28           Total
29         Andaman
30      Chandigarh
31           Dadra
32           Delhi
33           Jammu
34          Ladakh
35     Lakshadweep
36      Puducherry
37           Total
38           Total
Name: State/UT, dtype: object

In [ ]:
df1 = pd.DataFrame({'name':['John','Victor','Michael','Virginia','Mike'], 'Id':[3,4]})

In [ ]:
df2 = pd.DataFrame({'domain':['IT',]})